body {
    background-color: #F52961;
}

.FIO {
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    width: 900px;
}

.wrapper {
    padding: 10px 10px 0;
}

.flex-container {
    min-height: 100%;
    display: flex;
}

.phone {
    background-color: #1CE4B4;
    margin-bottom: 10px;
    height: 90px;
}

.text {
    font-weight: normal;
    font-size: 24px;
}

.text-white {
    color: white;
}

.person-info {
    background-color: #2919EC;
    width: 900px;
    height: 128px;
    margin: 0 auto;
}

.person-professional-skills {
    background-color: #F3DD18;
    width: 900px;
    margin: 0 auto;
}

.image {
    width: 200px;
    margin-left: auto;
    margin-right: 0;
    max-width: 100%;
}

.contacts {
    width: 200px;
    margin-left: auto;
}

.panel {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.left-panel {
    margin-left: auto;
}

.item {
    margin: 5px;
}

span {
    padding: 5px;
    line-height: 1.5;
}

.container {
    height: 200px;
}

.image-slider {
    width: 600px;
    height: 200px;
    margin: 0 auto;
}

.image-slider_image {
    text-align: center;
}

.image-slider_image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.slider {
    margin-top: 10px;
    overflow: hidden;
}

.swiper-button-prev, .swiper-button-next {
    top: 70%;
}